<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>

    <% include ../partials/header %>

    <div class="container">
        <main>
            <div class="jumbotron">
                <h1 class="display-3">Northwinds Database</h1>
                <p class="lead">Web application for northwind database management</p>
                <hr>
                <p>More info</p>
                <a name="" id="" class="btn btn-primary" href="#" role="button">Let's get started</a>

            </div>
        </main>
    </div>
    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>